<div class="container">
	<h5 class="text-center m-4">Alumnos</h5>
	<table class="display DataTable" style="width:100%">
        <thead>
            <tr>
                <th>Matricula</th>
                <th>Folio</th>
                <th>Nombre</th>
                <th>Carrera</th>
                <th>Semestre</th>
                <th>Tipo de Alumno</th>
                <th>Proyecto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alumno1</td>
                <td>123</td>
                <td>Nombre1</td>
                <td>ISD</td>
                <td>5</td>
                <td>Regular</td>
                <td>LAK</td>
            </tr>
            <tr>
                <td>Alumno2</td>
                <td>456</td>
                <td>Nombre2</td>
                <td>OPW</td>
                <td>7</td>
                <td>Irregular</td>
                <td>PLO</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Matricula</th>
                <th>Folio</th>
                <th>Nombre</th>
                <th>Carrera</th>
                <th>Semestre</th>
                <th>Tipo de Alumno</th>
                <th>Proyecto</th>
            </tr>
            </tr>
        </tfoot>
    </table>
</div>