
		<div class="wrapper">
            <form action="" id="wizard">
                <h2></h2>
                <section>
                    <div class="inner">
						<div class="image-holder">
							<img src="../resources/images/a.jpg" alt="">
						</div>
						<div class="form-content" >
							<div class="form-header">
								<h3>Registro</h3>
							</div>
							<p>Datos del responsable de la organización</p>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="Nombre" class="form-control">
								</div>
								<div class="form-holder">
									<input type="text" placeholder="Apellidos" class="form-control">
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="email" class="form-control">
								</div>
								<div class="form-holder">
									<input type="text" placeholder="Puesto que desempeña" class="form-control">
								</div>
								
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="Contraseña" class="form-control">
								</div>
								<div class="form-holder">
									<input type="text" placeholder="Confirma tu contraseña" class="form-control">
								</div>
							</div>
					</div>
                </section>
                <h2></h2>
                <section>
                    <div class="inner">
						<div class="image-holder">
							<img src="../resources/images/a.jpg" alt="">
						</div>
						<div class="form-content">
							<div class="form-header">
								<h3>Registro</h3>
							</div>
							<p>Datos de la organización</p>
							<div class="form-row">
								<div class="form-holder w-100">
									<input type="text" placeholder="Nombre completo" class="form-control">
								</div>
								<div class="form-holder w-100">
									<input type="text" placeholder="Nombre corto" class="form-control">
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="number" placeholder="Años de existencia" class="form-control">
								</div>
								<div class="form-holder">
									<input type="text" placeholder="Correo institucional" class="form-control">
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="Dirección" class="form-control">
								</div>
								<div class="form-holder">
									<input type="text" placeholder="Director de la institución" class="form-control">
								</div>
							</div>

						</div>
					</div>
                </section>

         
                <h2></h2>
                <section>
                    <div class="inner">
						<div class="image-holder">
							<img src="../resources/images/a.jpg">
						</div>
						<div class="form-content">
							<div class="form-header">
								<h3>Registro</h3>
							</div>
							<p>Datos de la organización</p>
							<div class="form-row">
								<div class="form-holder w-100">
									<input type="text" placeholder="Página web" class="form-control">
								</div>

								<div class="form-holder w-100">
									<input type="text" placeholder="Facebook" class="form-control">
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="number" placeholder="Sector de atención" class="form-control">
								</div>
								<div class="form-holder">

									<input type="text" placeholder="Objetivos " class="form-control">
								</div>
							</div>
							<div class="form-row">
								<div class="form-holder">
									<input type="text" placeholder="Misión" class="form-control">
								
							</div>
						</div>

						
				
					</div>

                </section>
               
            </form>

		</div>

		
		