@import "./colors.scss";
@import "./theme_colors.scss";

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    font-size: medium;
}

nav {
    font-size: large;
}

$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1080px) !default;

// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    font-size: medium;
}

nav {
    font-size: large;
}