<div>
    <table class="table">
        <thead class="bg-{{rol_primary}} thead text-dark ">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="carrera in proyecto.proyecto_carreras">
                <td>
                    <div class="container d-flex align-items-end">
                        <div class=" p-2">
                            {{carrera.carrera_nombre}}
                        </div>
                    </div>

                </td>
                <td>
                    {{carrera.carrera_descripcion}}
                </td>
                <td>
                    <button class="btn btn-yellow-pastel btn-circle btn-sm" href="#" role="button" data-toggle="tooltip"
                        data-placement="top" title="Quitar {{carrera.carrera_nombre}}"
                        ng-click="removeCarrera(carrera, proyecto)">
                        <i class="fas fa-minus">
                        </i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control s" ng-model="carrera_nueva.carrera_nombre"
                        ng-click="mostrarCarreraDescripcion(carrera_nueva)">
                        <option ng-repeat="carrera_opciones in carreras_menu">{{carrera_opciones.carrera_nombre}}
                        </option>
                    </select>
                </td>
                </td>
                <td>
                    {{carrera_nueva.carrera_descripcion}}
                </td>
                <td>
                    <button class="btn btn-blue-pastel btn-circle btn-sm" href="#" role="button" data-toggle="tooltip"
                        data-placement="top" title="Añadir {{carrera_nueva.carrera_nombre}}"
                        ng-click="addCarrera(proyecto.proyecto_carreras, carrera_nueva)">
                        <i class="fas fa-plus">
                        </i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>