<div class="row p-2">
    <div class="col-sm">
        <h6 class="text-center m-1">Objetivo</h6>
    </div>
</div>

<div class="row p-2">
    <div class="col-sm">
        <p class="text-justify">
            <textarea class="form-control" ng-model="proyecto.proyecto_objetivo" rows="5" id="comment"></textarea>
        </p>
    </div>
</div>

<div class="row p-2">
    <div class="col-sm">
        <h6 class="text-center m-1">Perfil de alumno</h6>
    </div>
</div>

<div class="row p-2">
    <div class="col-sm">
        <p class="text-justify">
            <textarea class="form-control" ng-model="proyecto.proyecto_perfil" rows="5" id="comment"></textarea>
        </p>
    </div>
</div>