<div class="row p-2">
    <div class="col-sm">
        <h6 class="text-left m-1">Nombre</h6>
    </div>
    <div class="col-sm">
        <input ng-model="proyecto.proyecto_responsable_nombre" class="form-control">
    </div>
</div>

<div class="row p-2">
    <div class="col-sm">
        <h6 class="text-left m-1">Puesto</h6>
    </div>
    <div class="col-sm">
        <input ng-model="proyecto.proyecto_responsable_puesto" class="form-control">
    </div>
</div>

<div class="row p-2">
    <div class="col-sm">
        <h6 class="text-left m-1">Teléfono</h6>
    </div>
    <div class="col-sm">
        <input ng-model="proyecto.proyecto_responsable_telefono" class="form-control">
    </div>
</div>

<div class="row p-2">
    <div class="col-sm">
        <h6 class="text-left m-1">Correo</h6>
    </div>
    <div class="col-sm">
        <input ng-model="proyecto.proyecto_responsable_correo" class="form-control">
    </div>
</div>

<div class="row p-2">
    <div class="col-sm">
        <h6 class="text-center m-1">Consideraciones</h6>
    </div>
</div>

<div class="row p-2">
    <div class="col-sm">
        <p class="text-justify">
            <textarea class="form-control" ng-model="proyecto.proyecto_consideraciones" rows="5" id="comment"></textarea>
        </p>
    </div>
</div>