<div>
    <table class="table">
        <thead class="bg-{{rol_primary}} thead text-dark ">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="horario_trabajo in proyecto.proyecto_horarios_trabajo">
                <td>
                    {{horario_trabajo.horario_trabajo_nombre}}
                </td>
                <td>
                    <button class="btn btn-yellow-pastel btn-circle btn-sm" href="#" role="button" data-toggle="tooltip"
                        data-placement="top" title="Quitar {{horario_trabajo.horario_trabajo_nombre}}"
                        ng-click="removeHorarioTrabajo(horario_trabajo, proyecto)">
                        <i class="fas fa-minus">
                        </i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <select class="form-control s" ng-model="horario_trabajo_nuevo.horario_trabajo_nombre">
                            <option ng-repeat="horarios_opciones in horarios_trabajo_menu">{{horarios_opciones.horario_trabajo_nombre}}
                            </option>
                        </select>
                    </div>

                </td>
                </td>

                <td>
                    <button class="btn btn-blue-pastel btn-circle btn-sm" href="#" role="button" data-toggle="tooltip"
                        data-placement="top" title="Quitar {{horario_trabajo.horario_trabajo_nombre}}"
                        ng-click="addHorarioTrabajo(proyecto.proyecto_horarios_trabajo, horario_trabajo_nuevo)">
                        <i class="fas fa-plus">
                        </i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>